PORT=5000
JWT_SECRET=your_super_secret_key_here
AI_SERVICE_URL=http://127.0.0.1:6000
# local db
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=********
DB_NAME=smart_hub_db
DB_PORT=**********
# live db


CLOUDINARY_CLOUD_NAME=***
CLOUDINARY_API_KEY=**********
CLOUDINARY_API_SECRET=************
CLOUDINARY_URL=*******************
IMGBB_API_KEY=*********************